$prb-color-black: #000000FF;
$prb-color-white: #FFFFFFFF;
$prb-color-gray: #737373;
$prb-color-light-gray: #D3D3D3FF;
$prb-color-blue: #5290EEFF;
$prb-color-light-blue: #ADD8E6FF;
$prb-color-yellow: #F7D65EFF;
$prb-color-light-yellow: #FDF0BFFF;
$prb-color-red: #fa4343;
$prb-color-light-red: #FFC6BEFF;
$prb-color-green: #56c056;
$prb-color-light-green: #B9FFD5FF;
$prb-page-background-color: #918b8a;
$prb-color-card-text: #343434;
$prb-color-base-title-background: #00FFFFFF;
